body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
   "Muli", "Helvetica", "Lucida Grande", sans-serif;
   font-weight:300;
   background-color:#f1f1f1;
}
.top {
    height: 50px;
    margin: 0 auto;
    width: 1150px;
    position:relative;
    margin-top:2px;
}
.toptop {
    height:50px;
    width:100%;
    background-color:white;
    font-size:25px;
    line-height:45px;
    border-bottom:1px solid #D8D8DE;
    text-align:center;
    padding-top:10px;
    position:fixed;
    z-index:100;
    padding-bottom:-10px;
}
.toptoptop {
    width:100%;
    height:50px;
    background-color:#E6E6E9;
}
.bg {
    width:100%;
    height:430px;
    background-color: #E6E6E9;
}
h1 {
    font-size:30px;
    line-height:45px;
    font-weight:normal;
    width:640px;
    margin: 0 auto;
    color:#333333;
    font-family: "HelveticaNeue-Medium", "Cabin", sans-serif;
}
#small {
    font-size:18px;
    font-family: "Helvetica Neue", "Cabin", sans-serif;
}
h2 {
    font-size:17px;
    font-weight:300;
    margin-top:12px;
    padding-left:30px;
    padding-right:30px;
    text-align:center;
}
.bold {
    font-weight:bold;
}
.broken {
    margin-top:-18px;
    padding-top:0;
}
.iconlist {
    padding-left:35px;
    opacity: 0.25;
    padding-bottom:2px;
}
.icon {
    padding-left:60px;
    padding-top:12px;
}
.iconlist:hover {
    opacity:0.75;
}
.h2bar {
    width:100%;
    background-color:#ffffff;
    overflow: auto;
    min-height:38px;
    border-bottom:1px solid #D8D8DE;
    padding-top:5px;
}
.container {
    margin: 0 auto;
    width:1150px;
    padding-top:30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.keyboard {
    height: 400px;
    margin: 5px auto 0;
    width: 845px;
    position: relative;
    padding: 0 22px;
    display: inline-block;
}
#numpadblock {
    height:400px;
    width:210px;
    margin: 5px auto 0;
    display: inline-block;
    position: relative;
    padding: 0 22px;
}
.numpadfiller {
    width:210px;
    height:90px;
    display: inline-block;
}
.hidenumpad {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidenumpad:hover {
    background-color: #C5C5C5;
    border-color:white;
    border-bottom: 1px solid #D8D8DE;
    border-right: 1px solid #D8D8DE;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}
.hidenumpad:active {
    background: linear-gradient(to bottom right,#8FD700, #17D700);
    opacity: 1;
    color: #fff;
    border-color:white;
    border-bottom: 1px solid #D8D8DE;
    border-right: 1px solid #D8D8DE;
    }
.key {
    border-bottom: 1px solid #D8D8DE;
    border-right: 1px solid #D8D8DE;
    opacity: 0.98;
    color: #898989;
    display: inline-block;
    font-size: 18px;
    height: 52px;
    text-align: center;
    vertical-align: top;
    width: 50px;
    margin: 5px 1px;
    border-radius: 3px;
    background-color:#ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.key:hover {
    font-weight: bold;
    box-shadow: inset 0 20px 20px -20px #E7E7E7;
}
.extra {
    font-size:13px;
}
.vh {
	visibility: hidden;
}
.toprow {
	height: 26px;
	font-size: 13px;
	line-height: 0px;
	width: 52px;
}
.tilde {
	font-size: 16px;
	line-height: 15px;
}
.del {
	text-align: right;
	padding-right: 6px;
	width: 72px;
	font-size: 13px;
	line-height: 40px;
}
.plus {
	line-height: 15px;
}
.min {
	line-height: 5px;
}
.Tab {
    text-align: left;
    padding-left: 6px;
    width: 72px;
    font-size: 13px;
    line-height: 40px;
}
.bracket {
    line-height: 4px;
    font-size: 15px;
}
.CapsLock {
    text-align: left;
    padding-left: 6px;
    width: 85px;
    font-size: 13px;
    line-height: 40px;
}
.return {
    text-align: right;
    padding-right: 6px;
    width: 90px;
    font-size: 13px;
    line-height: 40px;
}
.bottomrow {
    font-size: 13px;
    line-height: 56px;
    height: 58px;
}
.fn {
    text-align: left;
    padding-left: 6px;
    width: 46px;
}
.cmd {
    width:60px;
}
.shiftleft {
    text-align: left;
    padding-left: 6px;
    width: 114px;
    font-size: 13px;
    line-height: 40px;
}
.shiftright {
    text-align: right;
    padding-right: 6px;
    width: 120px;
    font-size: 13px;
    line-height: 40px;
}
.Space {
    width: 284px;
    height: 58px;
}
.left {
    height:26px;
    margin-top: 37px;
    font-size: 10px;
    line-height: 27px;
    width: 52px;
}
.updown {
    font-size: 10px;
    height:58px;
    width: 52px;
}
.up {
    height: 29px;
    line-height: 30px;
    border-bottom: 1px solid #E7E7E7;
}
.down {
    height:28px;
    line-height: 30px;
}
.hidden {
    visibility: hidden;
}
.nowork {
    background-color: #868686;
    color: white;
}
.test {
    color:#000000;
}
.infotext {
    display:inline;
}
.keycounter {
    border-bottom: 1px solid #D8D8DE;
    border-right: 1px solid #D8D8DE;
    opacity: 0.98;
    color: white;
    border-radius: 3px;
    background: linear-gradient(to bottom right,#FF512F, #F09819);
    padding:3px;
    padding-left:5px;
    padding-right:5px;
    white-space: nowrap;
}
.footer {
    width:100%;
    border-top:1px solid #D8D8DE;
}
.green {
    opacity: 0.98;
    color: white;
    background: #28a494;
}
.grey {
    opacity: 0.98;
    color: white;
    background: #343c3c;
}
.cardscontainer {
    width:100%;
    background-color:#f1f1f1;
    padding-top:20px;
    max-width:1300px;
    margin:0 auto;
    padding-left:5px;
    padding-right:5px;
    box-sizing: border-box;
}
.cards {
    width:99%;
    margin-left:0.5%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top:10px;
}
#card {
    box-sizing: border-box;
    width:31%;
    overflow: auto;
    background-color: #ffffff;
    margin-left:10px;
    margin-right:10px;
    border-bottom:1px solid #D8D8DE;
    border-right: 1px solid #D8D8DE;
    margin-bottom: 30px;
    padding:12px;
    border-radius: 3px;
    padding-bottom:25px;
}
#card.split {
    width:47.7%;
}
#card.fullwidth {
    width:100%;
}
.img1 {
    display:block;
    margin:0 auto;
    padding-right:25px;
}
.amazonimg {
    min-height:147px;
    max-width:93%;
}
.h3lastkey {
    padding-right:0px;
    margin-right:0px;
}
h3 {
    font-size:24px;
    padding-left:29px;
    font-weight:300;
    padding-right:25px;
}
.list {
    padding-left:49px;
    text-indent:-35px;
    padding-right:30px;
    line-height:22px;
}
.cardtext {
    padding-left:30px;
    line-height:22px;
    padding-right:30px;
}
h3.white {
    color:white;
    text-shadow: 0.5px 0.5px 0px #333;
    font-size:30px;
    line-height:40px;
}
p.white {
    color:white;
    text-shadow: 0.5px 0.5px 0px #333;
    font-size:18px;
}
/* Small screens */
@media all and (max-width: 1050px) {
    #card {
    width:47%;
  }
}
@media all and (max-width: 700px) {
    #card {
    width:99%;
  }
}


